h2 {
  font-weight: bold;
}

button {
  height: 100%;
  width: 100%;
  margin: auto 0px;
  padding: 4px 12px;
  font-size: 15.5px;
  font-family: 'Spectral', serif;
  font-weight: bold;
  border: none;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  outline: 0;
}
